<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="test.css">
  </head>
  <body>
    <script src="vue.js"></script>

    <div id="app">
      <h1 :class="classObject">Hello</h1>
      <h1 :style="styleObject">Hello2</h1>
      <button @click="isActive = !isActive">切り替え</button>
      <template>
        <p v-if="ok">Hello</p>
        <p>Good Bye</p>
        <p>おはよう</p>
      </template>
      <ul>
        <li v-for="fruit in fruits">{{ fruit }}</li>
      </ul>
    </div>
    <script>
      new Vue({
        el: '#app',
        data: {
          isActive: true,
          styleObject: {
            color: 'red',
            'background-color': 'blue'
          },
          ok: true,
          fruits: ['りんご', 'バナナ', 'ぶどう']
        },
        computed: {
          classObject: function() {
            return {
              red: this.isActive,
              'bg-blue': !this.isActive
            }
          }
        }
      })
    </script>
  </body>
</html>
